/* :::::::::::::::::::::::::::::::::::::::::: General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	background-color: white;
}
h1 h2 h3 h4 h5 h6 {
	font-family: "Poppins", sans-serif;
	margin-bottom: 15px;
}

.gray-bg {
	background-color: whitesmoke;
}
/* ::::::: Logo :::::::  */

.logo {
	color: #1f1f1f;
	font-weight: 700;
}
.logo>span {
	color: #735db1;
}

a {
	color: #c4a6e2;
}

a:hover {
	color: #735db1;
	text-decoration: none;
}
/* :::::::::::::::::::::::::::::::::::::::::: Colors */

/* :::::::::::::::::::::::::::::::::::::::::: Navigation */

.nav-bg {
	background-color: rgba(255, 255, 255, 0.1);
}
.active {
	font-weight: 500;
}

.nav-link {
	margin-left: 20px;
	margin-right: 20px;
}
.navbar-toggler {
	padding: .25rem .25rem;
	margin-top: 5px;
}

.navbar-toggler-icon{
	color: black;
}
#sign-up-modal-button {
	background-color: #735db1;
	border: none;
	border-radius: 50px;
}
/* :::::::::::::::::::::::::::::::::::::::::: Main */

.top-banner {
	margin-top: -100px;
	padding-top: 100px;
	background-image: url("../images/top-grad.png");
	background-size: contain;
	background-position: top right;
	background-attachment: scroll;
	background-repeat: no-repeat;
	overflow: hidden;
}

.top-banner-left {
	padding-left: 20%;
	padding-right: 5%;
}
#top-banner-text {
	margin-top: 30px;
	margin-bottom: 30px;
}
#top-ios-badge {
	margin-left: 0%;
	margin-right: 3%;
}
#top-banner-mockup {
    max-width: 100%;
}
#genre-tablet {
    max-width: 100%;
}
.genre-box {
	width: 55px;
	height: 55px;
	background-color: #c4a6e2;
	border-radius: 18px;
	margin: auto;
}
.genre-box>i {
	color: rgba(80, 38, 114, 0.5);
}

.genre-p {
	font-size: 12px;
	letter-spacing: -0.5px;
}

.hvr-glow:hover {
	box-shadow: 0 0 10px rgba(210, 142, 255, 0.76);
}

.feature-p {
	height: 96px;
}

.card-header {
	padding: 0px;
}

.btn-link {
	color: #1f1f1f;
	font-weight: 500;
}

.btn-link:hover {
	color: #8b5db1;
	text-decoration: none;
}

/*- FAQ accordion -*/

.card-deck>.card>.card-header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.card-deck>.card {
	border-radius: 20px !important;
}

.price-card {
	border-radius: 20px 20px 0 0 !important;
}


/* :::::::::::::::::::::::::::::::::::::::::: Footer */

footer {
	background-color: #dedede;
}
.newsletter {
	max-width: 70%;
}
.footer-item {
	padding-left: 30px;
	padding-right: 30px;
}
.footer-downloads {
	margin-bottom: 30px;
}
#footer-left {
	padding-left: 10vw;
}
.copyrights {
	background-color: #cecece;
	height: 50px;
	margin-bottom: 0;
}
/* :::::::::::::::::::::::::::::::::::::::::: Hover effects */

/* Imported from CSS Trics - https://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition */
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.02); }

/*------------------------------------------- Dividers -*/



/* ------------------------------------------ @ Media Queries */

@media only screen and (max-width: 1090px) {
	nav {
		background-color: white !important;
		margin-top: 0px;
		margin-bottom: 10%;
		width: 100%;
	}
	.navbar-brand {
		margin-left: 5px !important;
	}
	#sign-up-modal-button {
		margin-right: 0 !important;
		margin-left: 0 !important;
		background-color: #735db1;
		border: none;
		border-radius: 16px;
	}
	.nav-link {
		color: #1f1f1f !important;
		border-bottom: 1px solid #cecece;
		margin-bottom: 5px;
	}
	.top-banner-left {
        padding-left: 5%;
        text-align: center;
	}

	.newsletter {
		max-width: 100%;
	}
	.footer-item {
		padding-right: 10% !important;
		padding-left: 10% !important;
	}
	.footer-downloads {
		margin-bottom: 20px;
	}
	#footer-p {
		text-align: center;
		width: 100%;
	}
	footer>div>div>a>.logo {
		margin-left: 23%;
    }
    #genres-text {
        text-align: center;
	}

}