/* :::::::::::::::::::::::::::::::::::::::::: General */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: white;
    background-image: url("../images/top-gradient.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

h1 h2 h3 h4 h5 h6 {
    font-family: "Poppins", sans-serif;
    margin-bottom: 15px;
}

/* ::::::: Logo :::::::  */
.logo{
    color: #1f1f1f;
    font-weight: 700;
}
.logo>span{
    color: #735db1;
}
/* :::::::::::::::::::::::::::::::::::::::::: Colors */

/* :::::::::::::::::::::::::::::::::::::::::: Navigation */
button {
    padding-left: 50px;
    padding-right: 5px;
}

nav {
    margin-top: 25px;
}

.active {
    font-weight: 500;
}

.navbar-brand {
    margin-left: 15%;
}

.nav-link {
    margin-left: 20px;
    margin-right: 20px;
}

#sign-up-modal-button {
    margin-right: 15%;
    margin-left: 20px;
    background-color: #735db1;
    border: none;
    border-radius: 16px;

}

.top-section {
    
    height: 80vh;
    width: 100%;
}

/* :::::::::::::::::::::::::::::::::::::::::: Footer */
